@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
a {
  color: black;
  text-decoration: none;
}

/*navbar layout */

#navdispay {
  position: relative;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 999;
}
#navbar {
  display: flex;
  background-color: #0d0d0d;
  justify-content: space-between;
  padding: 10px 40px 10px 10px;
  align-items: center;
  border-bottom: 1px solid #242424;
}
#logo_name {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
#logo_name img {
  width: 29px;
  height: 31px;
}
#logo_name p {
  font-family: "Oswald", sans-serif;
  font-size: x-large;
  font-weight: 800;
  text-transform: uppercase;
  color: white;
}
#right_div {
  display: flex;
  width: 35%;
  justify-content: space-between;
  align-items: center;
  color: white;
}
#right_div a {
  color: #c4c4c4;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: capitalize;
}

#right_div a:hover {
  color: white;
}

#right_div #btn {
  border: none;
  width: 80px;
  height: 35px;
  border-radius: 5px;
  background-color: #ff2e2e;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.openApbtn {
  background-color: #0d0d0d;
  border: none;
  border: 1px solid #777;
  border-radius: 5px;
  color: #c4c4c4;
  padding: 12px 15px;
  text-transform: capitalize;
  font-size: small;
  display: none;
}

#right_div #btn:hover {
  background-color: #ff0000;
}

#search_area {
  display: flex;
  border: 0.1px solid #242424;
  padding: 10px 15px 7px 15px;
  border-radius: 5px;
  background-color: #242424;
  align-items: center;
  justify-content: center;
}

#search_area img {
  width: 18px;
  height: 16px;
  margin-right: 15px;
}

#search_area input {
  border: none;
  background-color: #242424;
  width: 100%;
  height: 3.5vh;
}

#search_area input::placeholder {
  font-size: medium;
  color: #c4c4c4;
  text-transform: capitalize;
}

/*search toggle area start*/

#search_toogle {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  display: flex;
  flex-direction: column;
  height: 70vh;
  background-color: #0d0d0d;
  border-radius: 12px;
  padding: 15px;
  display: none;
}

#search_area2 input {
  height: 6vh;
  border: none;
  background-color: #242424;
  width: 80%;
  border-radius: 4px;
  padding-left: 8px;
}

#search_area2 input::placeholder {
  font-size: medium;
  color: #c4c4c4;
  text-transform: capitalize;
}

#search_area2 button {
  all: unset;
  color: #c4c4c4;
  margin-left: 20px;
  cursor: pointer;
}

#ins_area {
  color: #c4c4c4;
  font-weight: 400;
  margin-top: 10px;
  font-size: 1rem;
}

#option_area {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  overflow-y: auto;
  flex: 1;
  padding-right: 5px;
  color: #c4c4c4;
  font-size: 0.9rem;
  text-transform: capitalize;
  gap: 9px;
}

#option_area a {
  color: white;
  font-size: x-large;
  font-weight: 800;
}

#option_area::-webkit-scrollbar {
  width: 6px;
}

#option_area::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

#option_area::-webkit-scrollbar-track {
  background: transparent;
}

/*search toggle area end*/

/*hero section starting*/
#hero_section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #0d0d0d;
  padding: 15vh;
}
#hero_dis {
  font-size: x-large;
  text-transform: capitalize;
  font-weight: 600;
}

#title_signUp_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 20px;
}

#title_area {
  text-transform: uppercase;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: 900;
  font-family: "Noto Sans", sans-serif;
}
#line {
  line-height: 0.2;
  color: #ff2e2e;
  font-size: 4rem;
}

#title_signUp_area button {
  padding: 18px 30px;
  font-size: medium;
  font-weight: 600;
  color: white;
  font-family: "Noto Sans", sans-serif;
  background-color: #ff2e2e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#title_signUp_area button:hover {
  background-color: #ff0000;
}

/*hero section ending */

#newsfeed_section {
  background-color: #0d0d0d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#Newsoption_area {
  width: 80%;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.1px solid #242424;
}
#newsfeed_section button {
  all: unset;
  cursor: pointer;
  color: #c4c4c4;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
}

#newsfeed_section button:hover {
  color: white;
}

/*card display area */

#card_displayArea {
  background-color: #0d0d0d;
  padding: 20px 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 50px;
  align-items: center;
}

.featured-card {
  width: 100%;
  max-width: 320px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-family: sans-serif;
  background: #0d0d0d;
  border: 1px solid #444;
}

#top_gap {
  width: 100%;
  padding: 15px 0px;
}

/* Portrait ratio */
.featured-image {
  aspect-ratio: 3.5 / 5;
}

.featured-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay */
.featured-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0));
}

/* Text */
.featured-title {
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.featured-description {
  font-size: 0.875rem;
  opacity: 0.85;
}

/* User */
.featured-user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.user-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #777;
}

.featuredLike_bar {
  display: flex;
  padding: 8px 0px;
  justify-content: space-between;
  font-size: larger;
  margin-top: 20px;
}

.featuredLike_bar i {
  cursor: pointer;
}

/*card display area ending*/

/*read more button editing start*/

#readmore_area button {
  padding: 0.5rem 0.9rem;
  font-size: 0.9rem;
  background-color: #ff2e2e;
  border: none;
  border-radius: 4px;
  color: white;
  text-transform: capitalize;
}

/*read me button end*/

/*footer section start*/

footer {
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: #0d0d0d;
}

#menu_area_ft {
  display: flex;
  gap: 25px;
}

footer a {
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 0.83rem;
  font-weight: 500;
  color: #c4c4c4;
}
/*footer section end*/

/*laptop width*/

@media (min-width: 1024px) {
  .featured-card {
    max-width: 360px;
  }
}
@media (max-width: 1024px) {
  #right_div {
    width: 60%;
  }

  #Newsoption_area {
    width: 95%;
  }

  #card_displayArea {
    padding: 20px 120px;
  }

  .openApbtn {
    display: block;
  }
}

@media (max-width: 768px) {
  #right_div {
    width: 70%;
  }
  .newletters_area {
    display: none;
  }

  #search_area {
    padding: 15px;
  }

  #card_displayArea {
    padding: 20px 35px;
  }
  #menu_area_ft {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

/*mobile width*/
/* @media (max-width: 480px) {
  .featured-title {
    font-size: 1.1rem;
  }
} */

@media (max-width: 426px) {
  #logo_name {
    display: none;
  }
  .openApbtn {
    display: none;
  }
  #btn {
    display: none;
  }

  .navLogin {
    display: none;
  }

  #right_div {
    width: 100%;
  }

  #search_area {
    padding: 10px 20px 10px 20px;
    width: 100%;
    margin-left: 20px;
  }

  #search_area input {
    padding: 10px;
  }

  #newsfeed_section {
    display: none;
  }

  footer {
    padding: 80px 40px;
  }
}
